<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <title>Каталог продуктов</title>
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Market)}"></div>
    <h1>Фильтр</h1>
    <form th:action="@{/products}" method="get">
        <div class="mb-3">
            <label for="minimalPrice" class="form-label">Минимальная цена</label>
            <input type="number" th:value="${param.min_price != null ? param.min_price : ''}" name="min_price"
                   class="form-control" id="minimalPrice">
        </div>
        <div class="mb-3">
            <label for="maximalPrice" class="form-label">Максимальная цена</label>
            <input type="number" th:value="${param.max_price != null ? param.max_price : ''}" name="max_price"
                   class="form-control" id="maximalPrice">
        </div>
        <button type="submit" class="btn btn-primary">Применить</button>
        <a th:href="@{/products}" type="button" class="btn btn-warning">Сбросить</a>
    </form>
    <H1>Каталог продуктов</H1>
    <a th:href="@{/products/add}">Add new product</a>
    <table class="table">
        <thead>
        <tr>
            <td>id</td>
            <td>имя</td>
            <td>описание</td>
            <td>цена</td>
            <td>категория</td>
            <td>операция</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p: ${products.getContent()}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.title}"></td>
            <td th:text="${p.description}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.category.title}"></td>
            <td><a th:href="@{'products/edit/' + ${p.id}}">Edit</a></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:classappend="${products.isFirst()? 'disabled':'' }">
                <a class="page-link"
                   th:href="@{'/products/?p=' + ${products.previousOrFirstPageable().getPageNumber()+1} + ${filterDef}}">Previous</a>
            </li>

            <li class="page-item" th:classappend="${products.getNumber()+1 == i ? 'active':''}"
                th:each="i : ${#numbers.sequence(1,products.getTotalPages())}">
                <a class="page-link" th:text="${i}" th:href="@{'/products?p=' + ${i} + ${filterDef}}"></a>
            </li>

            <li class="page-item" th:classappend="${products.isLast()?'disabled':''}">
                <a class="page-link"
                   th:href="@{'/products/?p='+${products.nextOrLastPageable().getPageNumber()+1} + ${filterDef}}">Next</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>